*{ 
    font-family: D2Coding; 
    font-size: 20px;
    margin: 0px;
    padding: 0px;  
  }
 
  .title{
    text-align: center;
    border: solid 1px #AAAAAA;
    color: #000000;
    width: 20%;
    margin: 20px auto;
    padding: 3px;
    background-color: #DDDDDD;
  }
  
  .bottom{
    clear: both; /* 이전 DIV에 선언된 float='left' 속성을 제거 */
    text-align: center;
    margin: 30px auto;
  }
  
  form ul{
    margin: 10px 0px;
    padding: 10px;
  }
  
  form ul li{
    list-style: none; /* 블렛 기호 생략 */
    margin: 10px 10px 10px 0px; /* top right bottom left */ 
  }
  
  form ul li.right{ /* form -> ul -> li -> class='right'*/
    list-style: none;
    margin: 10px 30px 10px 0px;
    text-align: right;
  }
  
  .content{
    background-color: #FFFFFF;
    width: 80%;
    margin: 20px auto; /* 위아래 좌우 */
  }
  
  .table{
    width: 86%;
    margin: 0px auto;  /* 가운데 정렬 */
    border-style: solid; /*  실선 */
    border-width: 1px; /* 선 두께 */
    border-color: #999999; /* 선 색깔 */
    border-collapse: collapse; /* 셀 경계선 병합*/
  }
  
  .th{
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
  }
 
  .td{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
  }
 
  .td_left{
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
  }
  
  .table2{
    border-style: none; /*  실선 */
    border-width: 1px; /* 선 두께 */
    border-color: #AAAAAA; /* 선 색깔 */
    border-collapse: collapse; /* 셀 경계선 병합*/
    /* margin: 20px 20px 20px 20px; */ /* 위, 오른쪽, 아래, 왼쪽 */
    width: 70%; /* 테이블 너비 */
    margin: 20px auto; /* 20px: 위아래, auto: 좌우, 자동 가운데 정렬*/
  }
  
  .th2{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #00FF00;
    
    border-bottom: solid 2px #00FF00;
    border-left: none;
    border-right: none;
    background-color: #FFFF00;
  }
  
  .td2{
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #00FF00;
    border-left: none;
    text-align: center;
  }
 
  .td3{
    border-top: none;
    border-right: none;
    border-bottom: solid 2px #00FF00;
    border-left: none;
    text-align: center;
  }
    
  /* 메뉴 구성 시작 1*/
  nav{ margin-bottom: 5px; }
  nav span a { 
    font-weight: bold; 
    padding: 0px 5px;      /* 위아래 좌우*/
    border: 1px solid purple; 
    background: purple;
    color: white; 
    text-decoration: none; 
  }
  nav span a:hover { /* 마우스가 A태그위에 있을때 */
    background: #FF00FF; 
    color: white; 
  }                       
  /* 메뉴 구성 종료 1*/
  
  /* 메뉴 구성 시작 2, 태그의 id 가 topMenu인 스타일*/  
  #topMenu{
    height: 30px;
    width: 100%;
    background-color: #555555;
  }
  #topMenu ul li{
    list-style: none;     /* 블렛 기호 제거 */
    color: white;         /* 글자 색갈*/
    background-color: #555555;
    float: left;            /* li 태그의 출력 방향을 좌측으로 변경 */
    line-height: 30px; /* 하나의 행 높이 */
    vertical-align: middle; /* 세로 기준 중간 정렬 */
    text-align: center;      /* 가로 기준 정렬 */
  }
  
  #topMenu .menuLink{   /* A 태그 속성 적용 */
    text-decoration: none;  /* 밑줄 제거 */
    color: white;   
    display: block;   /* A 관련 영역 전부 링크 설정 */
    width: 150px;
    font-weight: bold;
    
  }
  
  #topMenu .menuLink:hover {  /* A 태그에 마우스 over 속성 적용 */
    color: #00FF00;
    background-color: #4d4d4d;
  }
    
  /* 메뉴 구성 종료 2, 태그의 id 가 topMenu인 스타일*/  
 
  /* 메뉴 구성 시작 3, 태그의 id 가 topMenu2인 스타일
  background-image: url("/notice_v3jc/menu/images/top.jpg");
  background-image: url("https://www.google.co.kr/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
  */     
  #topMenu2{
    background-image: url("/pds_v3jc/menu/images/top.jpg");
    width: 100%;
    height: 150px;
  }
 
  #topMenu2 .menu_label{
    position: absolute;
    right: 0px;
    top: 5px;
    color: #FFFFFF;
    width: 100%;
  }
 
  #topMenu2 .menu_list{
    position: absolute;
    right: 0px;
    top: 120px;
    color: #FFFFFF;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.2);
  }
  
  #topMenu2 .menuLink{
    text-decoration: none;  /* 밑줄 제거 */
    color: white;   
  }
  
  #topMenu2 .menuLink:hover {
    font-weight: bold;
  }
  
  /* 메뉴 구성 종료 3, 태그의 id 가 topMenu2인 스타일*/       
  
  A:LINK{  /* 모든 A 태그의 기본 출력 형태 */
    color: #333333;
    text-decoration: none;
  }
  
  A:VISITED{  /* 모든 방문한적이있는 A 태그 */
    color: #333333;
    text-decoration: none;
  }
  
  A:HOVER{ /* 모든 A 태그위에 마우스가 올라간 경우 */
    color: #5555FF;
    text-decoration: underline;
  }
 
  form fieldset ul{
    margin: 10px 0px; /* 10px: 위아래 0px: 좌우 */
    padding: 10px;
  }
    
  form fieldset ul li{
    list-style: none;  /* 블렛 기호 생략 */
    margin: 10px 10px 10px 0px; /* top right bottom left */
  }  
 
  form fieldset ul li.right{  /* form -> ul -> li -> class='right' */
    list-style: none;  /* 블렛 기호 생략 */
    margin: 10px 30px 10px 0px; /* top right bottom left */
    text-align: right;
  }  
 
  .item_title{
    color: #000000;
    text-shadow: -1px -1px 1px gray;  /* 그림자 가로위치, 그림자 새로위치, 번짐 정도, 색상*/ 
  }
 
  .menu_on_table{
    width: 100%; 
    border-bottom: dotted 1px #AAAAAA; 
    margin: 0px auto; 
    text-align: right;
    padding-right: 0px;
   
  }
 
   /* 메뉴를 좌측 기준으로 정렬 합니다. */
   .menu_on_table_left{
    width: 50%;
    border-bottom: none 1px #AAAAAA; 
    margin: 0px auto; 
    text-align: left;
    padding-right: 0px;
    float: left;
  }
 
   /* 메뉴를 우측 기준으로 정렬 합니다. */
   .menu_on_table_right{
    width: 50%;
    border-bottom: none 1px #AAAAAA; 
    margin: 0px auto; 
    text-align: right;
    padding-right: 0px;
    float: right;
  } 
 